.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @include mq (desktop){
        flex-wrap: nowrap;
    }
}

.clients {
    width: calc((100% - 60px) / 2);
    margin: 15px;

    @include mq (tablet){
    width: calc((100% - 90px) / 3);
    }

    @include mq (desktop) {
        width: calc((100% - 180px) / 6);
    }
}

// .clients:not(:last-child) {
//     margin-right: 30px;
// }

.clients-page {
    fill: var(--social-icon);
    display: flex;

    align-items: center;
    justify-content: center;

    height: 92px;
    border: 1px solid var(--social-icon);
    border-radius: 4px;

    transition: border var(--animation),
    fill var(--animation);
    
    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
        fill: var(--accent-color);
    }
}
