.features-icon {
    display: flex;
    max-width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;

    justify-content: center;
    align-items: center;

}

.features-section {
    padding-bottom: 0px;
}

.features {
    & .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        @include mq (mobile-only){
            text-align: center;
        }

        color: var(--title-text-color);
    }

    @include mq (tablet-only){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    @include mq (desktop){
        display: flex;
    }
}

.features-item:not(:last-child) {
    margin-bottom: 30px;

    @include mq (desktop){
        margin-right: 30px;
        margin-bottom: 0px;
    }
}


.features-item {
    @include mq (tablet-only) {
        margin: 15px;
        width: calc((100% - 60px) / 2)
    }
}

